### Notebook to generate mr_proc manifest(s)
- METAL_PD
- SERB_PD

In [1]:
import os
import pandas as pd

### Paths

In [2]:
project_dir = "/home/nikhil/projects/NIMHANS/data/PD_METAL/"
participants_file = f"{project_dir}/T1_MetalPD.xlsx"

### Read raw tabular data

In [3]:
participants_df = pd.read_excel(participants_file,engine='openpyxl')
participants_df = participants_df.rename(columns={'Unnamed: 0':'participant_id'})
participants_df.head()

  participant_id  Gender(male-1)  Age  Age at onset  Duration  UPDRS -III OFF
0       MPD_T1_1               2   66            58         8            57.0
1       MPD_T1_2               1   55            53         2            33.0
2       MPD_T1_5               2   37            33         4            28.5
3       MPD_T1_6               2   46            43         3            39.0
4       MPD_T1_7               1   63            60         3            42.0

### Generate mr_proc_manifest
- available_datatypes: ["anat"]
- manifest_cols = ["participant_id","visit","session","datatype","bids_id"]

In [4]:
manifest_df = pd.DataFrame()
manifest_df["participant_id"] = participants_df["participant_id"]
manifest_df["visit"] = "V01"
manifest_df["session"] = "ses-01"
manifest_df["datatype"] = "['anat']"
manifest_df["id"] = participants_df["participant_id"].str.split("_", expand=True)[2]
manifest_df["bids_id"] = "sub-METAL" + manifest_df["id"].str.zfill(3)
manifest_df.head()

  participant_id visit session  datatype id       bids_id
0       MPD_T1_1   V01  ses-01  ['anat']  1  sub-METAL001
1       MPD_T1_2   V01  ses-01  ['anat']  2  sub-METAL002
2       MPD_T1_5   V01  ses-01  ['anat']  5  sub-METAL005
3       MPD_T1_6   V01  ses-01  ['anat']  6  sub-METAL006
4       MPD_T1_7   V01  ses-01  ['anat']  7  sub-METAL007

In [ ]:
# ### Save the manifest file
# manifest_file = f"{project_dir}/mr_proc_manifest.csv"
# manifest_df.to_csv(manifest_file, index=False)