### Notebook to generate mr_proc manifest(s)
- METAL_PD
- SERB_PD

In [11]:
import os
import pandas as pd

### Paths

In [12]:
dataset_dir = "/home/nikhil/projects/NIMHANS/data/PD_METAL/"
participants_file = f"{dataset_dir}/scratch/T1_MetalPD.xlsx"

### Read raw tabular data

In [13]:
participants_df = pd.read_excel(participants_file,engine='openpyxl')
participants_df = participants_df.rename(columns={'Unnamed: 0':'participant_id'})
particpants = participants_df['participant_id'].unique()
n_participants = len(particpants)
print(f"n_participants: {n_participants}")
participants_df.head()

n_participants: 67

  participant_id  Gender(male-1)   Age  Age at onset  Duration  UPDRS -III OFF
0       MPD_T1_1             2.0  66.0          58.0       8.0            57.0
1       MPD_T1_2             1.0  55.0          53.0       2.0            33.0
2       MPD_T1_3             NaN   NaN           NaN       NaN             NaN
3       MPD_T1_5             2.0  37.0          33.0       4.0            28.5
4       MPD_T1_6             2.0  46.0          43.0       3.0            39.0

### Generate mr_proc_manifest
- available_datatypes: ["anat"]
- manifest_cols = ["participant_id","visit","session","datatype","bids_id"]

In [14]:
manifest_df = pd.DataFrame()
manifest_df["participant_id"] = participants_df["participant_id"]
manifest_df["visit"] = "V01"
manifest_df["session"] = "ses-01"
manifest_df["datatype"] = "['anat']"
manifest_df["id"] = participants_df["participant_id"].str.split("_", expand=True)[2]
manifest_df["bids_id"] = "sub-METAL" + manifest_df["id"].str.zfill(3)
manifest_df.head()

  participant_id visit session  datatype id       bids_id
0       MPD_T1_1   V01  ses-01  ['anat']  1  sub-METAL001
1       MPD_T1_2   V01  ses-01  ['anat']  2  sub-METAL002
2       MPD_T1_3   V01  ses-01  ['anat']  3  sub-METAL003
3       MPD_T1_5   V01  ses-01  ['anat']  5  sub-METAL005
4       MPD_T1_6   V01  ses-01  ['anat']  6  sub-METAL006

In [15]:
# ### Save the manifest file
# manifest_file = f"{dataset_dir}/tabular/mr_proc_manifest.csv"
# manifest_df.to_csv(manifest_file, index=False)

### Generate demographics file

In [18]:
demo_df = pd.DataFrame()

demo_df["participant_id"] = participants_df["participant_id"]
demo_df["age"] = participants_df["Age"]
demo_df["sex"] = participants_df["Gender(male-1)"].replace({1:"M", 2:"F"})
demo_df["group"] = "PD"
demo_df["visit"] = "V01"

demo_df.head()

  participant_id   age  sex group visit
0       MPD_T1_1  66.0    F    PD   V01
1       MPD_T1_2  55.0    M    PD   V01
2       MPD_T1_3   NaN  NaN    PD   V01
3       MPD_T1_5  37.0    F    PD   V01
4       MPD_T1_6  46.0    F    PD   V01

In [19]:
# ## Save the manifest file
# demo_file = f"{dataset_dir}/tabular/demographics/demographics.csv"
# demo_df.to_csv(demo_file, index=False)